@inherits LayoutComponentBase
@layout PackageControl.Components.Layout.MainLayout

<h1>Manage Packages</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <PackageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>