@inherits LayoutComponentBase
@layout PackageControl.Components.Layout.MainLayout

<h1>Manage Roles</h1>

<div>
    <h2>Role Management</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <RolesNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>