@if (!string.IsNullOrEmpty(DisplayMessage) && DisplayMessage != DefaultMessage)
{
    var statusMessageClass = DisplayMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @DisplayMessage
    </div>
}

@code {
    private string? messageFromCookie;
    private const string DefaultMessage = "Valor predeterminado"; // Valor predeterminado

    [Parameter]
    public string? Message { get; set; }

    [Inject]
    public IHttpContextAccessor? HttpContextAccessor { get; set; }

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
        var httpContext = HttpContextAccessor?.HttpContext;
        if (httpContext != null)
        {
            messageFromCookie = httpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

            if (string.IsNullOrEmpty(messageFromCookie))
            {
                messageFromCookie = DefaultMessage; // Asigna el valor predeterminado aquí
            }
            else
            {
                httpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
            }
        }
    }
}